demo2
demo
*.swp
.kdev4/
Launcher/
cdk/
demo3
ncurses-moving-resizing-panels.cpp
ncurses/
ncurses_programs.tar.gz
ncurses_programs/
nix-build-hack.kdev4
.kdev_include_paths
core
logfile
logfile_
perl-5.18.2.tar.gz
preview2
*.o
nix-build-view/nix-build-view
nix-build-view/CMakeCache.txt
nix-build-view/CMakeFiles/
nix-build-view/TDD-AdvancedStringTest
nix-build-view/cmake_install.cmake
nix-build-view/Makefile
